body{
  --background-color: rgb(30,30,50);
  --divider: rgb(80,80,80);
  --dividerblue: rgb(0,119,255);
  --dividerdarkblue: rgb(12,49,92);
  --buttontransition: 0.3s;
  --buttonbackground: rgb(40,40,60);
  --sectionbackground: rgb(35,35,55);
  --linkbackground: rgb(60,60,80);
  background: var(--background-color);
  overflow-x:hidden;

}

#backgroundimages{
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  top: -20px;
}

#backgroundimages > img{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 10px;
  margin-top: -5px;
}

#logo{

  width: min(700px, 50%);
  border-bottom: solid 1px var(--divider);
  margin: auto;
  text-align: center;

}

#logo > img{
  width: min(70%, 700px);
  position: relative;
}

#logo > .caption{
  font-style: italic;
  color: white;
  opacity: 0.5;
  font-family: "Segoe UI";
  font-weight: lighter;
}

#navbar{
  width: min(1000px, 75%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 100px;
}

#navbar > ul{
  display: flex;
  list-style: none;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 20px;
}

#navbar > ul > button{
  margin-left: 0px;
  color: white;
  font-family: Helvetica;
  width: 100px;
  height: 50px;
  text-align: center;
  align-items: center;
  border: none;
  border-bottom: solid 1px var(--divider);
  background: var(--buttonbackground);
  transition: border var(--buttontransition);
}

#navbar > ul > button:hover{
  border-bottom: solid 1px var(--dividerblue);
  transition: border var(--buttontransition);
  cursor: pointer;
}

#root{

}

.section{
  width: min(1000px, 75%);
  background: var(--sectionbackground);
  border: solid 1px var(--dividerdarkblue);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

.section > h1{
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
}

.section > p{
  color: white;
  font-family: "Segoe UI";
  font-weight: lighter;
  font-size: 20px;
}

.section > img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  width: min(75%, 300px);
}

.downarrow{
  width: min(10%, 50px) !important;
}

.section > video{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  width: min(75%, 300px);
}

.section > .caption{
  font-family: "Segoe UI";
  text-align: center;
  margin-top: 5px;
  font-style: italic;
  margin-bottom: 30px;
}

a{
  color: var(--dividerblue);
  text-decoration: none;
  font-style: italic;
  transition: background var(--buttontransition);
}

a:hover{
  background: var(--linkbackground);
  transition: background var(--buttontransition);
}

#contact > img{
  opacity: 0.2;
}
